SloppyCell.egg-info
*.pyc
*.so
build
dist
*.swp
diff.pickle
*module.c
*.aux
*.bbl
*.blg
*.dvi
*.log
*.out
*.synctex.gz
*.toc
*.bp
Example/Tyson_1991/*.png
Example/Tyson_1991/*.tex
test/algebraic_net*.xml
